---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<BaseLayout title="Posts">
	<section>
		<ul>
			{posts.map((post) => (
				<li>
					<a href={`/blog/${post.slug}/`}>
						<div class="entry">
							<p>{post.data.title}</p>
							<p>
								<FormattedDate date={post.data.pubDate} />
							</p>
						</div>
					</a>
				</li>
			))}
		</ul>
	</section>
</BaseLayout>

<style>
	ul {
		margin: 0 32px;
		padding-left: 0;
	}
	li {
		list-style-type: none;
	}
	.entry {
		display: flex;
		justify-content: space-between;
	}
</style>