---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { cmpPostPubDate, zip } from "../../helpers";

const posts = (await getCollection("blog")).sort(cmpPostPubDate);
const postRenders = await Promise.all(posts.map(post => post.render()));
const postsWithContent = zip(posts, postRenders);
---

<BaseLayout title="Posts">
	<section>
		<ul>
			{postsWithContent.map((item) => (
				<li>
					<a href={`/blog/${item[0].slug}/`}>
						<div class="entry">
							<p>{item[0].data.title}</p>
							<p class="date">
								<span><FormattedDate date={item[0].data.pubDate} /></span>
							</p>
						</div>
					</a>
				</li>
			))}
		</ul>
	</section>
</BaseLayout>

<style>
	ul {
		margin: 0 32px;
		padding-left: 0;
	}
	li {
		list-style-type: none;
	}
	.entry {
		display: flex;
		justify-content: space-between;
	}
	.date {
		text-align: right;
	}
</style>