---
---

#containerDefault {
  margin: auto;
  width: 70%;
}

#themeNav {
  text-align: center;
  p, ul {
    display: inline;
  }
}

#themeNav ul {
  li {
    display: inline;
  }
  list-style-type: none;
  padding: 0;
}

a {
  color: #999;
  &:visited {
    color: #666;
  }
}

body {
  background-color: #000;
  color: #CCC;
}

header {
  font-size: 400%;
}

header, footer {
  a {
    text-decoration: none;
  }
  text-align: center;
}

p, ul {
  font-size: 120%;
  width: 100%;
}

ul {
  list-style-type: circle;
}
