---
---

#themeNav {
  text-align: center;
  p, ul {
    display: inline;
  }
}

#themeNav ul {
  li {
    display: inline;
  }
  list-style-type: none;
  padding: 0;
}

.contents {
  text-align: center;
}

.grid {
  align-content: center;
  display: grid;
  text-align: center;
}

p.grid.commitment {
  grid-row: 1;
  grid-column: 1 / 2;
}
img.grid.commitment {
  grid-row: 1;
  grid-column: 2 / 3;
}

p.grid.synergy {
  grid-row: 2;
  grid-column: 2 / 3;
}
img.grid.synergy {
  grid-row: 2;
  grid-column: 1 / 2;
}

.hero {
  color: hsl(30, 100%, 50%);
  font-weight: bold;
  position: relative;
  text-align: center;
}

.overlay {
  background-color: hsla(0, 100%, 0%, 0.5);
  box-sizing: border-box;
  font-size: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

@media screen and (min-width: 450px) {
  .overlay {
    padding-top: 25%;
  }
}

body {
  background-color: hsl(60, 100%, 50%);
  font-size: 120%;
}

header {
  a {
    text-decoration: none;
  }
}

footer {
  text-align: center;
}

img {
  display: block;
  height: auto;
  margin: auto;
  width: 100%
}
