---
---

#containerDefault {
  margin: auto;
  width: 70%;
}

.wish {
  margin: 1em auto;
  text-align: center;
  width: 70%;
}

a {
  color: #666;
}

body {
  color: #333;
}

header {
  font-size: 400%;
}

header, footer {
  a {
    text-decoration: none;
  }
  text-align: center;
}

p, ul {
  font-size: 120%;
  width: 100%;
}

img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%
}

table {
  margin: auto;
}

td, th {
  padding-left: 10px;
}

ul {
  list-style-type: circle;
}

ul.posts {
  list-style: none;
  a {
    text-decoration: none;
  }
}
