---
---

#containerDefault {
  margin: auto;
  width: 70%;
}

.wish {
  margin: 1em auto;
  text-align: center;
  width: 70%;
}

#console {
  background-color: hsl(0, 0%, 0%);
  height: 100%;
  position: absolute;
  width: 100%;
}
.jqconsole {
  padding: 1em;
}
.jqconsole-header {
  color: hsl(120, 50%, 50%);
}
.jqconsole-cursor {
  background-color: hsl(120, 100%, 50%);
}
.jqconsole-blurred .jqconsole-cursor {
  background-color: hsl(120, 50%, 25%);
}
.jqconsole-prompt {
  color: hsl(120, 100%, 50%);
}
.jqconsole-old-prompt {
  color: hsl(120, 50%, 50%);
}
.jqconsole-input {
  color: hsl(120, 100%, 50%);
}
.jqconsole-old-input {
  color: hsl(120, 50%, 50%);
}
.out {
  color: hsl(0, 0%, 100%);
}
.err {
  color: hsl(0, 100%, 50%);
}

a {
  color: #666;
}

body {
  color: #333;
  margin: 0;
}

header {
  font-size: 400%;
}

header, footer {
  a {
    text-decoration: none;
  }
  text-align: center;
}

p, ul {
  font-size: 120%;
  width: 100%;
}

img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%
}

table {
  margin: auto;
}

td, th {
  padding-left: 10px;
}

ul {
  list-style-type: circle;
}

ul.posts {
  list-style: none;
  a {
    text-decoration: none;
  }
}
