---
---

#baby {
  position: fixed;
  bottom: 0;
  right: 0;
}

a {
  color: hsl(120, 100%, 50%);
}

a:visited {
  color: hsl(120, 50%, 50%);
}

body {
  background-image: url('../img/nineties/cheez.jpg');
  color: hsl(60, 100%, 50%);
  font-weight: bold;
  text-align: center;
}

table, td {
  border: 1px solid black;
}

table {
  margin: auto;
}
