---
---

#console {
  background-color: hsl(0, 0%, 0%);
  height: 100%;
  position: absolute;
  width: 100%;
}
.out {
  color: hsl(0, 0%, 100%);
}
.err {
  color: hsl(0, 100%, 50%);
}
body {
  margin: 0;
}
.jqconsole {
  padding: 1em;
}
.jqconsole-header {
  color: hsl(120, 100%, 50%);
}
.jqconsole-cursor {
  background-color: hsl(120, 100%, 50%);
}
.jqconsole-blurred .jqconsole-cursor {
  background-color: hsl(120, 50%, 25%);
}
.jqconsole-prompt {
  color: hsl(120, 100%, 50%);
}
.jqconsole-old-prompt {
  color: hsl(120, 50%, 50%);
}
.jqconsole-input {
  color: hsl(120, 100%, 50%);
}
.jqconsole-old-input {
  color: hsl(120, 50%, 50%);
}
