---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About" >
	<h1>About</h1>
	<h2>About this site</h2>
	<p>
		The objective of this blog is to be a website for me to continually iterate on the site's user experience,
		fussing over everything from microfeatures to vocabulary choices, and document my findings.
	</p>
	<p>
		The <a href="https://github.com/rheber/rheber.github.io">github.io repository</a> that this blog lives in has been used in
		various ways over the years, but this project began in the Git commit entitled
		<a href="https://github.com/rheber/rheber.github.io/commit/3ed98160db73c65751457e1b7e1859dbb1fd533e"><code>starting a blog</code></a>.
	</p>
	<h2>About me</h2>
	<p>My name is Robert. I'm a developer in Melbourne. You can find me on <a href="https://github.com/rheber">GitHub</a>.</p>
</BaseLayout>
