---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout
	title="About"
>
	<h1>About this site</h1>
	<p>The objective of this blog is to be a website where I can continually iterate on the site's user experience and document my findings.</p>
	<h1>About me</h1>
	<p>My name is Robert. I'm a developer in Melbourne. You can find me on <a href="https://github.com/rheber">GitHub</a>.</p>
</BaseLayout>
