---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About" >
	<h1>About</h1>
	<h2>About this site</h2>
	<p>This is a blog where I keep track of things that I learn about words and phrases.</p>
	<h2>About me</h2>
	<p>My name is Robert. I'm a software developer in Melbourne. You can find me on <a href="https://github.com/rheber">GitHub</a>.</p>
</BaseLayout>
