---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="About" >
	<h1>About</h1>
	<hr />
	<h2>About this site</h2>
	<p>The objective of this blog is to be a website where I can continually iterate on the site's user experience, fussing over everything from microfeatures to word choices, and document my findings.</p>
	<h2>About me</h2>
	<p>My name is Robert. I'm a developer in Melbourne. You can find me on <a href="https://github.com/rheber">GitHub</a>.</p>
</BaseLayout>
