---
import HeaderLink from "./HeaderLink.astro";
import { SPAN_SEPARATOR, SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<header>
	<nav>
		<div class="title-desc"><a href="/">{SITE_TITLE}</a><span>{SPAN_SEPARATOR}</span><span>{SITE_DESCRIPTION}</span></div>
		<div class="links">
			<HeaderLink href="/blog">Posts</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<hr />
<style>
	nav {
		display: flex;
		justify-content: space-between;
	}
	nav>div {
		align-items: center;
		display: flex;
	}
	.links a {
		margin: 0 4px;
	}
	.title-desc>* {
		margin: 0 4px;
	}
	svg {
		display: block; /* Prevents icons from being taller than expected. */
	}
</style>