<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.showSitename %}
      <title>Nothing To See Here | {{ page.title }}</title>
    {% else %}
      <title>{{ page.title }}</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/assets/css/{{ page.style }}.css" />
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="/favicon.png" />
  </head>
{{ content }}
</html>
