body {
  margin: 0;
  height: 100%;
  position: absolute;
  width: 100%;
}

#root {
  height: 100%;
}

#console {
  background-color: hsl(0, 0%, 0%);
  height: 100%;
  position: absolute;
  width: 100%;
}
