---
import '@fontsource/atkinson-hyperlegible';
import '@fontsource/monaspace-neon';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

type Props = {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead pageTitle={title} />
	</head>
	<body>
		<Header />
		<main>
            <slot />
		</main>
	</body>
</html>
<style>
	html {
		background-color: #3a3a37
	}
	body {
		background-color: #222222;
		color: #f2f2f2;
		font-family: 'Atkinson Hyperlegible', sans-serif;
		margin: auto;
		min-width: 360px;
		max-width: 60%;
		padding: 8px 16px;
		min-height: 100vh;
		box-sizing: border-box;
	}
</style>
<style is:global>
	a {
		color: #e03131;
	}
	a:visited {
		color: #b02525;
	}
	a:hover, a:visited:hover {
		color: #fa5252;
	}
	code {
		background-color: #121210;
		color: #40c057;
		font-family: 'Monaspace Neon', monospace;
		text-wrap: nowrap;
	}
	pre code {
		background-color: inherit;
	}
	h1 {
		font-size: 32px;
		line-height: 32px;
	}
	h2 {
		font-size: 24px;
		line-height: 28px;
	}
	p {
		font-size: 16px;
		line-height: 20px;
		position: relative; /* Allows fleurons to be positioned absolutely. */
	}
	ul {
		margin: 0;
		position: relative; /* Allows fleurons to be positioned absolutely. */
	}
</style>