---
import FormattedDate from "../components/FormattedDate.astro";

type Props = {
	title: string;
	pubDate: Date;
};

const { title, pubDate } = Astro.props;
---

<article>
	<div class="prose">
		<h1>{title}</h1>
		<FormattedDate date={pubDate} />
		<hr />
		<slot />
	</div>
</article>

<style is:global>
	article {
	    margin-bottom: 64px;
	}

	img {
		max-width: 100%;
		margin: auto;
		display: block;
	}

	/* https://rwt.io/typography-tips/marks-ends-and-middles-end-marks-sections-and-dead-ends */
	.prose>:last-child:after {
		content: "\2766";
		font-size: 1.5em;
		line-height: 0.5;
		display: block;
		margin-top: 12px;
		left: 0;
		position: absolute;
	}
</style>
