---
import FormattedDate from "../components/FormattedDate.astro";

// Blog post to be displayed in a list of posts on the home page.

type Props = {
	title: string;
	pubDate: Date;
	minutesRead: string;
	slug: string
};

const { title, pubDate, slug } = Astro.props;
---

<article>
	<div class="prose">
		<h1><a href={slug}>{title}</a></h1>
		<span><FormattedDate date={pubDate} /></span>
		<slot />
	</div>
</article>

<style is:global>
	article {
	    margin-bottom: 64px;
	}

	img {
		max-width: 100%;
		margin: auto;
		display: block;
	}

	nav.toc {
		display: none;
	}
</style>
