---
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = {
	title: string;
	pubDate: Date;
};

const { title, pubDate } = Astro.props;
---

<BaseLayout title={title}>
	<article>
		<div class="prose">
			<h1>{title}</h1>
			<FormattedDate date={pubDate} />
			<hr />
			<slot />
		</div>
	</article>
</BaseLayout>

<style is:global>
	/* https://rwt.io/typography-tips/marks-ends-and-middles-end-marks-sections-and-dead-ends */
	.prose>:last-child:after {
		content: "\2766";
		font-size: 1.5em;
		line-height: 0.5;
		display: block;
		margin-top: 12px;
		left: 0;
		position: absolute;
	}
</style>
